body { background: #900512; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-config-0 { color: #aeb502; font-size: 17px; margin-bottom: 5px; }
.block-cache-1 { color: #115209; font-size: 19px; margin-bottom: 5px; }
.block-email-2 { color: #29bd2c; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #128221; font-size: 18px; margin-bottom: 5px; }
.block-auth-4 { color: #5fc7b9; font-size: 18px; margin-bottom: 5px; }
.block-metrics-5 { color: #76af9e; font-size: 21px; margin-bottom: 5px; }